.header {
  background-color: var(--primary-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
}

.header a {
  color: var(--secondary-blue);
}
.container {
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 780px) {
  /* .header {
    width: 70%;
    margin: 0 auto;
  } */

  .container {
    width: 70%;
  }
}
