.header {
  background-color: var(--primary-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary-blue);
  padding: 1.5rem;
  font-size: 1.5rem;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
}
